
<div class="flex space-x-4 mt-5">
  <div>
    <ul>
      <li>
        <a href="/">All Categories</a>
      </li>
      @for (category of categories(); track category.id) {
        <li>
          <a routerLink="/" [queryParams]="{ categoryId: category.id }">{{category.name}}</a>
        </li>
      }
    </ul>
  </div>
  <div class="grid grid-cols-4 gap-8">
  @for (product of products(); track product.id) {
    <app-product
      [product]="product"
      (addToCart)="addToCart($event)">
    </app-product>
  }
  </div>
</div>


